<h2 class="ui header dividing">
  <i class="settings icon"></i>
  Administrador {{session.user.name}}
</h2>

  <div class="section-content home ui segment tall stacked">

<div class="ui middle aligned relaxed divided list">
  <div class="item">
    <div class="right floated content">
       {{#link-to 'admin.parties.index' class="ui button tiny blue"}}Ver{{/link-to}}
    </div>
    <h3 class="header">Partidos Politicos</h3>
  </div>

  <div class="item">
    <div class="right floated content">
       {{#link-to 'admin.provinces.index' class="ui button tiny blue"}}Ver{{/link-to}}
    </div>
    <h3 class="header">Provincias</h3>
  </div>

  <div class="item">
    <div class="right floated content">
       {{#link-to 'admin.bricks.index' class="ui button tiny blue"}}Ver{{/link-to}}
    </div>
    <h3 class="header">Bloques</h3>
  </div>
   <div class="item">
    <div class="right floated content">
       {{#link-to 'admin.ministries.index' class="ui button tiny blue"}}Ver{{/link-to}}
    </div>
    <h3 class="header">Ministerios</h3>
  </div>
   <div class="item">
    <div class="right floated content">
       {{#link-to 'admin.roles.index' class="ui button tiny blue"}}Ver{{/link-to}}
    </div>
    <h3 class="header">Roles</h3>
  </div>
   <div class="item">
    <div class="right floated content">
       {{#link-to 'admin.users.index' class="ui button tiny blue"}}Ver{{/link-to}}
    </div>
    <h3 class="header">Usuarios</h3>
  </div>
</div>
</div>






