<form class="ui large form" {{action "save" on="submit"}}>
    <div class="field -action">
        {{ui-checkbox name="isEnabled" checked=model.published class="toggle" label="Publicar"}}
    </div> 

    <input type="submit" class="ui button blue -action" value="Guardar">

    <div class="field">
      <label>Titulo</label>
      {{input type="text" value=model.title}}
    </div>
    <div class="field">
      <label>Pregunta</label>
      {{input type="text" value=model.text}}
    </div>    
</form>
