<section class="create-report">
	<h2 class="ui dividing header menu-header">
	    Editar Respuesta
	</h2>

	<div class="section-content ui segment tall stacked">
		{{partial "answers/form"}}
	</div>
</section>

