<h2 class="ui header dividing">
  <div class="content">
    Editar Bloque
    <div class="actions">{{link-to "Ver bloques" "admin.bricks.index"  classNames="ui basic button tiny"}}</div>
  </div>
</h2>
<div>
	{{partial "admin/bricks/form"}}
</div>