.sidebar {
    position: fixed;
    background: #2D4059;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    color: #fff;
    @include transition(all .8s cubic-bezier(0.7,0,.3,1));

    @include media($mobile) {
      left: -600px;
      padding-top: 43px;
      z-index: 2003;
      width: 100%;
    }

    .vertical.menu {
      width: 300px;
      margin: 0;

      @include media($mobile) {
        width: 100%;
      }
    }

    
    .menu-search.input {
      padding: 15px;
      background: #A7CBD9;
      
      input {
        color: #fff;
      }
    
    }


    .ps-container {
      height: calc(100vh - 140px);
      position: relative;
      padding: 0;

        @include media($mobile) {
           height: calc(100vh - 168px)
      }
    }

    &.show {
      left: 0;
      
    }

    .user {
      text-align: left;
      background: #2b2b47;
      padding: 15px;
      position: relative;

      .logo {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        float: left;

        .fa {
          padding-right: 15px;
        }
      }

      .settings {
        position: absolute;
        font-size: 22px;
        top: 13px;
        right: 13px;
        color: #fff;
      }

      .sub {
        margin: 17px 0 0 0;
      }

      .image {
        margin: 15px auto;

      }

      .button {
        margin-top: 15px;
      }
    }

    .vertical.menu {      
      background: transparent;
      
      .icon {
        float: left !important;
        margin: 0em 0.5em 0em 0em !important;
      }

      .item {
        font-size: 16px;
        padding: 16px 13px;

        .item {
          padding: 15px 6px;
          .item {
            padding: 15px;
          }
        }

      }

      .bottom {
        position: fixed;
        bottom: 0;
        width: 300px;

          @include media($mobile) {
           width: 100%;
          }
      }
    }
}

.sidebar::after {
    content: "";
    background-image: url(http://www.argentina.gob.ar/sites/default/files/argentina.png);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: bottom;
    background-size: 251px;
    background-repeat: no-repeat;
    background-color: #fff;  
}

