<h2 class="ui header dividing">
  <div class="content">
    Nueva Provincia
    <div class="actions">{{link-to "Ver provincias" "admin.provinces.index"  classNames="ui basic button tiny"}}</div>
  </div>
</h2>
<div>
	{{partial "admin/provinces/form"}}
</div>