<form {{action "save" on="submit"}}>
  <div>
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <input type="submit" value="Guardar">
  </div>
</form>
