<div class="section-content home ui segment">
<h2 class="ui icon header" style="width: 100%; padding: 1em; opacity: 0.7;">
  <img src="http://w4000248.ferozo.com/wp-content/uploads/2014/08/logo_jefaturagabinete_300x300.jpg" alt="" style="
    width: 45%; margin-bottom: 45px;">
  <div class="content" style="line-height: 30px;">
    Bienvenido {{session.user.name}} <br> al Gestor de consultas
    <div class="sub header" style="margin: 15px 0;">Acceda a un listado de los informes</div>
    {{#link-to 'reports.index' class="ui button blue"}}
      Comenzar
    {{/link-to}}
  </div>
</h2>
</div>

