
<section>
  <h1 class="ui dividing header">
    Informe N°92
   <div class="sub header">Sub Header</div>
  </h1>
  <div class="section-content home ui segment tall stacked">
    <div class="ui items">
      <div class="item">
        <div class="content">
          <div class="header">Arrowhead Valley Camp</div>
          <div class="meta">
            <span class="price">$1200</span>
            <span class="stay">1 Month</span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
       <div class="item">
        <div class="content">
          <div class="header">Arrowhead Valley Camp</div>
          <div class="meta">
            <span class="price">$1200</span>
            <span class="stay">1 Month</span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

