<div class="section-content home ui segment tall stacked">
<h2 class="ui icon header" style="width: 100%; padding: 1em; opacity: 0.7;">
  <i class="rocket icon"></i>
  <div class="content" style="line-height: 30px;">
    Bienvenido {{session.user.name}} <br> al Gestor de consultas
    <div class="sub header" style="margin: 15px 0;">Acceda a un listado de los informes</div>
    {{#link-to 'reports.index' class="ui button blue"}}
      Comenzar
    {{/link-to}}
  </div>
</h2>
</div>

