<h2 class="ui header dividing">
  <div class="content">
    Nuevo Partido Politico
    <div class="actions">{{link-to "Ver bloques" "admin.parties.index"  classNames="ui basic button tiny"}}</div>
  </div>
</h2>
<div>
	{{partial "admin/parties/form"}}
</div>